/* You can add global styles to this file, and also import other style files */

$background-color: #252525!important;
$font-color: #fff!important;

.ui-card{
    background-color: $background-color;
    color: $font-color;
}

body{
    background-image: url("./assets/background-car.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.90;
}

.text-center{
    text-align: center;
}